<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>controller.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <display-name>MundoAlem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Promocoes</display-name>
    <servlet-name>Promocoes</servlet-name>
    <servlet-class>controller.Promocoes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Promocoes</servlet-name>
    <url-pattern>/Promocoes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Destino</display-name>
    <servlet-name>Destino</servlet-name>
    <servlet-class>controller.Destino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Destino</servlet-name>
    <url-pattern>/Destino</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contato</display-name>
    <servlet-name>Contato</servlet-name>
    <servlet-class>controller.Contato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contato</servlet-name>
    <url-pattern>/Contato</url-pattern>
  </servlet-mapping>
</web-app>